.item--list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.item__container {
  border: 1px solid 	#FFDF00;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.item--img__container {
  display: flex;
  justify-content: center;
}

.item--img {
  max-width: 100%;
  height: 200px;
}

.item--title {
  color: #FFDF00;
  font-size: 20px;
  min-height: 50px;
  max-height: 50px;
  overflow: auto;
}

.item--description {
  color: rgb(15, 2, 2);
  font-size: 14px;
  max-height: 100px;
  overflow: auto;
}

.item--price {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.item--counter__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.item--cart__container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.item--cart__button {
  padding: 10px 15px;
  background-color: #FFDF00;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}
